= semantic_form_for 'shibboleth_debug_login', :url => shibboleth_debug_login_url do |f|
  = f.inputs "Shibboleth Debug Login" do
    = f.input :person_uid, :input_html => {:value => ShibbolethAuth::DebugDefaultUsername}, :label => t("shibboleth.person_uid")
    = f.input :person_common_name, :input_html => {:value => ShibbolethAuth::DebugDefaultCommonName}, :label => t("shibboleth.person_common_name")
    = f.input :groups, :input_html => {:value => ShibbolethAuth::DebugDefaultGroups}, :label => t("shibboleth.groups")
    = f.input :unscoped_affiliation, :input_html => {:value => ShibbolethAuth::DebugDefaultAffiliation}, :label => t("shibboleth.unscoped_affiliation")
  = f.buttons